<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kb2baru">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KB2Baru">
        <activity
            android:name=".activity_akhirSuperman"
            android:exported="false" />
        <activity
            android:name=".activity_akhirTarzan"
            android:exported="false" />
        <activity
            android:name=".activity_akhirCinderella"
            android:exported="false" />
        <activity
            android:name=".activity_kredit"
            android:exported="false" />
        <activity
            android:name=".gantiKataSuperman"
            android:exported="false" />
        <activity
            android:name=".gantiKataTarzan"
            android:exported="false" />
        <activity
            android:name=".gantiKataCinderella"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>